body {
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-align:center;
    margin:0;
}
p{
    margin:0;
    padding:0;
    text-align:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #A56396;
    position: fixed;
    height: 100%;
    overflow: auto;
}
li a {
    padding: 10;
    padding-top: 25%;
    height: 70;
    display: block;
    color: #000;
    text-decoration: none;
}
li a.active {
    background-color: #A56396;
    color: white;
}

li a:hover {
    background-color: #E086CB;
}
  #canvas {
     display: block;
     background-color: #FFFFFF
  }

/*for boxes*/
.square {
    float:left;
    position: relative;
    width: 15%;
    padding-bottom : 15%; /* = width for a 1:1 aspect ratio */
    margin:5%;
    background-color:#A5A5A5;
    overflow:hidden;
    border-radius: 2em
}
.content {
    position:absolute;
    height:85%; /* = 100% - 2*5% padding */
    width:85%; /* = 100% - 2*5% padding */
    padding: 7.5%;
    text-align: center;
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}
